{% extends "main/base.html" %}

{% block content %}
<div align="center">
    <form action="{% url 'main:search' %}" method="GET">
        <input type="text" name="query">
        <button type="submit">Найти</button>
    </form>
<div>

<table border=1 align='center'>
    <tr>
        <th>Автор</th>
        <th>Заголовок</th>
        <th>Текст</th>
        <th>Дата и время создания</th>
        <th>Дата публикации</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td align='center'><a href="{% url 'users:get_user_info' pk=post.author.id %}">{{post.author}}</a></td>
        <td align='center'><a href="{% url 'main:get_post' pk=post.id %}">{{post.title}}</a></td>
        <td align='center'>{{post.text}}</td>
        <td align='center'>{{post.created_date_time}}</td>
        <td align='center'>{{post.publication_date}}</td>
    <tr>
    {% endfor %}
</table>
{% endblock content %}